body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:100vw;
    background-color: #b31623;
    color:white;
    font-family: "sweater-school", sans-serif;
    font-weight: 400;
    font-style: normal;


}

h1{
    font-family: "eldwin-script", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 5rem;
    background: -webkit-linear-gradient(gold,goldenrod);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin:2rem auto;
}

main{
    display:grid; 
    /* grid-template-columns: repeat(16, 1fr); */
    width: 70vh; 
    height: 70vh;
    border: 3px solid gray;
    background-color: white;
    border-radius: .5rem;
    margin:2rem auto;
}

form{
    margin:2rem auto;
}

.square{
    height:1/16;
    width: 1/16;
    box-sizing: border-box;
}


.filled{
    background-color: aqua;
}