body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:100vw;
    height:100vh;
}

main{
    display:grid; 
    /* grid-template-columns: repeat(16, 1fr); */
    width: 960px; 
    height: 960px;
    border: 3px solid black;
}

.square{
    height:1/16;
    width: 1/16;
    box-sizing: border-box;
}


.filled{
    background-color: aqua;
}